language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.2
    - php: hhvm
  include:
    - php: 5.3
      dist: precise
      sudo: required
    - php: 5.4
      dist: precise
      sudo: required

script:
  - composer install -o  --no-interaction --no-progress --prefer-dist
  - ./vendor/bin/simple-phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
