<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         timeoutForSmallTests="100"
         timeoutForMediumTests="200"
         timeoutForLargeTests="300"
         bootstrap="Tests/Autoload.php">
    <testsuites>
        <testsuite name="Library Check">
            <directory suffix=".php">Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Lib/</directory>
        </whitelist>
    </filter>
</phpunit>
